@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Roboto&family=Roboto+Condensed:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    max-width: 1024px;
    margin: auto;
    font-family: "Heebo", sans-serif;
}

.container {
    background-color: #FFFFFF;
    height: auto;
}

nav {
    margin: 0 15px;
    padding-right: 50px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
}

.nav-wrapper .logo {
    color: #FFF;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.menu li a:hover {
    color: #FF6464;
}


.works {
    color: #21243D;
    width: 70%;
    padding: 20px 0;
    margin: auto;
}

.subject-bar h1 {
    margin-top: 30px;
}


.works-box {
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

.works div>p {
    font-size: 1.3em;
    padding: 20px;
}

.works-img {
    background: url('https://picsum.photos/246/180/?random') no-repeat;
    border-radius: 10px;
    width: 246px;
    height: 180px;
}

.works-details {
    width: 70%;
}

.works-details * {
    padding-bottom: 20px;
}

.works-title {
    font-size: 1.2em;
    font-weight: bold;
}

.works-year {
    background-color: #142850;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    width: 60px;
    padding: 5px;
    display: inline-block;
}

.works-tool {
    color: #8695A4;
    display: inline-block;
    padding-left: 1.9em;
}

.works-content {
    color: #21243D;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 10h;
}

.contact-channel {
    font-size: 2.5em;
    display: inline-flex;
    padding-top: 50px;
    gap: 40px;
}

.contact-channel a {
    color: #000000;
}

footer p {
    padding: 20px 0 50px 0;
}

/* Hamburger Menu CSS */
.ham-menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

@media only screen and (min-width: 512px) {
    .ham-menu {
        display: none;
    }
}

@media only screen and (max-width: 512px) {

     nav {
        padding-right: 0;
     }

     .nav-wrapper .logo {
        /* color: #000000; */
        display: none;
     }

    .menu {
        display: none;
        width: 100%;
    }

    .menu li {
        border-bottom: 2px solid #E0E0E0;
        margin: 1rem 0;
        padding: 1rem 0.5rem;
        transition: 0.5s;
    }

    .menu li:hover {
        background-color: lightgray;
    }

    .nav-wrapper {
        padding: 1rem;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-active {
        display: block;
    }

    .works {
        width: 90%;
    }

    .works>.works-box:nth-child(3),
    .works>.works-box:nth-child(4) {
        display: none;
    }

    .works h1 {
        margin-bottom: 20px;
    }

    .works-box {
        flex-direction: column;
        text-align: left;
        padding: 10px;
    }

    .works-details {
        width: auto;
    }
}